%h1.lead.text-center Portfolio Risk Assessment Tool
%hr

%ul.nav.nav-tabs#myTab
  %li.active= link_to "Prediction", "#results", data: {toggle: "tab"}
  %li= link_to "Combo", "#combo", data: {toggle: "tab"}
.tab-content
  .tab-pane.active#results
    = render 'home/form_investment'
    %hr
    = render 'home/body'
  .tab-pane#combo
    = render partial: 'list', locals: {allocations: []}

= render 'allocations/modal'
.text-center
  %a{"data-target" => "#myModal", "data-toggle" => "modal"}
    %b Disclosure & Methodology
