%h1 Listing allocations
%hr

%ul.nav.nav-tabs#myTab
  %li.active= link_to "Stocks", "#stocks", data: {toggle: "tab"}
  %li= link_to "Bonds", "#bonds", data: {toggle: "tab"}
  %li= link_to "Cash", "#cash", data: {toggle: "tab"}
.tab-content
  .tab-pane.active#stocks
    = render partial: 'list', locals: {allocations: @stocks}
  .tab-pane#bonds
    = render partial: 'list', locals: {allocations: @bonds}
  .tab-pane#cash
    = render partial: 'list', locals: {allocations: @cash}
%br

= link_to 'New Allocation', new_allocation_path, class: 'btn btn-lg btn-success'
