- if notice
  .alert.alert-success
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
    = notice

.panel.panel-default
  .panel-heading
    Allocation  
  .panel-body
    %p
      %b Year:
      = @allocation.year
    %p
      %b Bills:
      = @allocation.bills
    %p
      %b Type investments:
      = @allocation.type_investments
.btn-group
  = link_to 'Edit', edit_allocation_path(@allocation), class: 'btn btn-lg btn-default'
  = link_to 'Back', allocations_path, class: 'btn btn-lg btn-default'
