.row
  .col-lg-4
    = render "piechart"
  .col-lg-4
    = render 'table'
  .col-lg-4
    = render 'barchart'
%hr
.row
  .col-lg-4
    = render "table"
  .col-lg-4
    = render 'barchart'
  .col-lg-4
    = render 'barchart'
